body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.x4 {
    background-color: #c8c8ff;
    color: white;
}

.x8 {
    background-color: #9999ff;
    color: white;
}

.x16{
    background-color: #7d7fe2;
    color: white;
}

.x32{
    background-color: #6066c6;
    color: white;
}

.x64{
    background-color: #444eaa;
    color: white;
}

.x128{
    background-color: #23388f;
    color: white;
}

.x256{
    background-color: #002275;
    color: white;
}

.x512{
    background-color: #000f5c;
    color: white;
}

.x1024{
    background-color: #000044;
    color: white;
}

.x2048{
    background-color: #00032c;
    color: white;
}

.x4096 {
    background-color: #000117;
    color: white;
}

.x8192 {
    background-color: #000000;
    color: white;
}